In [17]:
import pandas as pd

In [18]:
data = {'a': [1, 2, 3], 'b': [1, 2, 3]}
df = pd.DataFrame(data)

In [19]:
df

   a  b
0  1  1
1  2  2
2  3  3

In [22]:
def myfunc(row):
    row['a'] = row['a'] * 2
    return row

df.apply(myfunc, axis=1)

0    None
1    None
2    None
dtype: object

In [21]:
df

   a  b
0  2  1
1  4  2
2  6  3